.nav-link{
  cursor: pointer;
  font-weight: 600;
  gap: 10px;
}
.nav-link:hover{
  border: red 1px solid;
  border-radius: 5px;
  background-color: greenyellow;
}

.Form{
  height: 600px;
  color:black;
}
.name1{
  margin-left: 260px;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.name2{
  margin-left: 220px;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.name3{
  margin-left: 270px;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.input{
  width: 600px;
}
.email{
  width: 300px;
  margin-left: 35px;
}
.name4{
  margin-left: 260px;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.name5{
  margin-left: 280px;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.name6{
  margin-left: 360px;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.name7{
  margin-left: 360px;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.name8{
  margin-left: 560px;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
button{
  border: 1px red solid;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  background-color: blue;
  color: white;
}
button:hover{
  background-color: greenyellow;
  border: 1px gold solid;
  border-radius: 5px;
  transform: scale(1.2);
  color: black;
}
.Data{
  margin-left: 580px;
  color: green;
}
table, th, td {
  border:2px solid black;
}
.Address{
 width:500px;
 height:30px;
}
.Main{
  border: 2px black solid;
  height: 600px;
  width: 320px;
  margin-left: 460px;
}
.EditUser{
  margin-left: 100px;
}
.sarname{
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
}
.name{
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
}
.fatherName{
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
}
.phoneNumber{
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
}
.Email{
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
}
.password{
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
}
.gender{
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
}
.address{
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
}
.Update{
  margin-top: 20px;
  margin-left: 50px;
  width: 200px;
}
.Cancel{
  margin-top: 20px;
  margin-left: 50px;
  width: 200px;
}
.Home{
  margin-left: 450px;
  width: 300px;
  height: 40px;
}
